@import "../fonts/fonts.css";

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter Regular', 'Arial', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

h2 {
  font-family: 'Inter Regular', 'Arial', serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}

h3 {
  font-family: 'EB Garamond Medium', 'Arial', serif;
  font-size: 28px;
  line-height: 115%;
  font-weight: 500;
}

h4 {
  font-family: 'EB Garamond Medium', 'Arial', serif;
  font-size: 22px;
  line-height: 135%;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: auto;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 24px 20px;
}

.header__logo {
  display: flex;
  align-self: flex-start;
  width: 78.45px;
  height: 15.43px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  line-height: 19.2px;
}

.header__menu-item, 
.cards-list, 
.footer__links {
  list-style: none;
}

.header__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__menu-link_active {
  text-decoration: none;
}

span {
  display: block;
}

.cover__title {
  font-family: 'EB Garamond Regular', 'Arial', serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cover {
  padding: 7px 20px;
  background-image: url(../images/cover.svg);
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.intro {
  padding: 30px 20px 13px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text {
  line-height: 21.6px;
  padding-bottom: 24px;
}

.reasons {
  padding: 40px 20px;
}

.content-section__introduction {
  font-family: 'Inter Regular', 'Arial', serif;
  font-size: 20px;
  line-height: 27px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex-wrap: wrap;
  align-content: start;
  padding-left: 20px;
  line-height: 21.6px;

}

.content-section__list-accent {
  display: inline;
  font-family: 'Inter Bold', 'Arial', serif;
  font-size: 16px;
  font-weight: 700;
  
}

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.card {
  border-radius: 30px;
}

.card_theme_dark {
  background-color: #343434;
}
  
.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.card__title {
  padding-left: 20px;
}

.card__text {
  font-family: 'Inter Regular', 'Arial', serif;
  font-size: 16px;
  line-height: 21.6px;
  padding: 8px 20px 20px 20px;
}

.card__author {
  padding: 20px 136px 8px 20px;
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 208px;
}

.card__author-name {
  font-family: 'Inter Bold', 'Arial', serif;
  font-size: 16px;
  padding-top: 8px;
}

.card_text-only {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 20px;
  color: #131313;
}

.card__title_text-only {
  padding-left: 0px;
}

.footer__copy {
  font-family: 'Inter Regular', 'Arial', serif;
  font-size: 16px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: 'Inter Regular', 'Arial', serif;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-top: 1px solid #fee42a;
}


/*В работе пэддинговая болезнь*/